/archive.zip
/big_chance_team.csv
/data_jobs.csv
/Serie A_matches_23_24.csv
/Serie A_table_2023_24.csv
/Serie A_table_away_2023_24.csv
/Serie A_table_home_2023_24.csv
/Serie A_table_xg_2023_24.csv
/SerieA23_24
/SerieA23_24_file_details.csv
/SerieA_Analysis.ipynb
/test.ipynb
/test2.ipynb